.contact-page{
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
}

.contact-us{
    
    background-color: white;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 90%;
    
    
}

.contact-img{
    width: 50%;
}
.contact-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.contact-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form h1{
    color: #010024;
    font-size: 60px;
    margin-bottom: 2%;
}
.contact-form input{
    width: 80%;
    margin: 0.75rem 0;
    background-color: #e7e7e7;
    color: black;
    padding: 1rem 2rem;
    border-radius: 14px;
    outline: none;
    border: none;
    font-size: medium;
}
.contact-form textarea{
    width: 80%;
    height: 15vh;
    margin: 0.75rem 0;
    background-color: #e7e7e7;
    color: black;
    padding: 1rem 2rem;
    border-radius: 14px;
    outline: none;
    border: none;
    font-size: medium;
    resize: none;
}
.contact-form button{
    width: 80%;
    background-color: #312A65;
    color: white;
    font-size: medium;
    font-weight: 600;
    padding: 0.75rem 0;
    border-radius: 14px;
    border:none;
    margin-top: 1rem;
}


@media screen and (max-width:1200px){

    .contact-us{
        padding: 1.5rem 0;
    }
    .contact-img{
        width: 40%;
    }
    .contact-form h1{
        font-size: 40px;
        margin-bottom:0;
    }
    .contact-form input{
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
    }
    .contact-form button{
        padding: 0.75rem;
        margin-top: 0.5rem;
    }
}

@media screen and (max-width:800px){

    
    .contact-form h1{
        font-size: 25px;
        margin-bottom:0;
    }
    
}
@media screen and (max-width:500px){

    .contact-page{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .contact-us{
        border-radius: 12px;
    }
    .contact-img{
        display: none;
    }
    .contact-form{
        width: 100%;
        
    }
    .contact-form h1{
        margin-bottom: 2%;
    }
    .contact-form input{
        padding: 1rem 1rem;
    }
    
}