.features-container{
    
    padding: 3rem 4rem;

    display: flex;
    justify-content: center;
    gap: 4%;
    position: relative;
}

.features-container .ellipse{
    left: -10%;
    top: 30%;
}
.features-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features-content h1{
    font-size: 40px;
}
.features-content p{
    font-size: larger;
    margin: 1rem 0;
    line-height: 1.7rem;
}
.features-content button{
    width: fit-content;
    color: black;
    font-weight: 700;
    font-size: large;

}


.features-list{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}
.feature-list-item{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 5%;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}
.hover{
    background: linear-gradient(157deg, rgba(234, 234, 234, 0) 0%, #5f5084 100%); 
    box-shadow: 0px 20px 100px -10px rgba(65.87, 71.48, 91.37, 0.10);
}
.feature-list-item:hover{
    background: linear-gradient(157deg, rgba(234, 234, 234, 0) 0%, #5f5084 100%); 
    box-shadow: 0px 20px 100px -10px rgba(65.87, 71.48, 91.37, 0.10);
}

@media screen and (max-width:1024px) {
    .features-container{
        padding: 2rem 2rem;
    }
    .features-content{
        width:50%
    }
    .features-list{
        width:50%
    }
    .feature-list-item{
        padding: 1rem;
    }
}
@media screen and (max-width:640px) {
    .features-container{
        display: block;
    }
    .features-content{
        width:100%
    }
    .features-list{
        margin-top: 5%;
        width:100%
    }
    .features-content p{
        margin-bottom: 0;
    }
    .features-content button{
        padding: 0.5rem 0.75rem;
        margin-top: 5%;
        margin-left: 50%;
        transform: translateX(-50%);
        font-size: small;
    }
}