.our-services{
    width: 100%;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-services > h1{
    text-align: center;
    font-size: 40px;
}
.our-services > p{
    margin: 1rem 0;
    text-align: center;
    width: 60%;
}

.services-card-container{
    margin: 2rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
}

.services-card{
    background: linear-gradient(284deg, rgba(101, 90, 223, 0.47) 0%, rgba(145, 145, 220, 0.47) 45%, rgba(49, 42, 100, 0.47) 100%); 
    border-radius: 16px; 
    border: 1px #8F9095 solid;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding:2rem;
    position: relative;
}
.services-card h1{
    margin: 1rem 0;
}
.services-card p{
    line-height: 1.7rem;
    font-size: large;
    margin-bottom: 15%;
}
.services-card button{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    
}

.purp-gradient{
    background: linear-gradient(284deg, rgba(101, 90, 223, 0.47) 0%, rgba(145, 145, 220, 0.47) 45%, rgba(49, 42, 100, 0.47) 100%); 
}
.teal-gradient{
    background: linear-gradient(284deg, rgba(23, 133, 115, 0.47) 0%, rgba(35, 200, 172, 0.47) 45%, rgba(190, 245, 236, 0.47) 100%);
}
.gold-gradient{
    background: linear-gradient(284deg, rgba(241, 233, 188, 0.47) 0%, rgba(220, 219, 217, 0.47) 45%, rgba(224, 223, 222, 0.47) 100%);
}
.blue-gradient{
    background: linear-gradient(284deg, rgba(40.68, 113.57, 222.91, 0.47) 0%, rgba(102.34, 159.07, 244.16, 0.47) 45%, rgba(4.90, 89.93, 255, 0.47) 100%);
}

@media screen and (max-width:1024px) {
    .services-card-container{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .our-services > p{
        width: 80%;
    }
}
@media screen and (max-width:640px) {
    .our-services{
        /* margin-top: 5rem; */
    }
    .our-services > p{
        width: 100%;
    }
    .services-card{
        padding-bottom: 3rem;
    }
}